.sidebar {
  position: fixed;
  top: 50%; /* 화면의 상단으로부터 얼마나 떨어져 있을지 설정 */
  background-color: #456686; /* 배경색 추가 */
  width: 10%;
  height: 200px;
  border-radius: 10px;

  margin-left: 1%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 약간의 그림자 효과 */
}
