body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #a07a7a;
  background: linear-gradient(rgba(50, 50, 50, 0.7), rgba(50, 50, 50, 1)),
    url("/src/images/Fixyou.jpg");
  background-repeat: repeat;
  background-size: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

.main-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
